.sound-button {
  padding: 10px;
  appearance: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.sound-icon {
  color: white;
  cursor: pointer;
  font-size: 40px;
}

@media (min-width: 860px) {
  .sound-button {
    padding: 40px;
  }
}
