.scores-container {
  display: flex;
  margin: auto;
  text-align: center;
  flex-direction: column;
  gap: 12px;
}

.score {
  font-family: "Roboto Serif", serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}
